<a class="home icon-layout" href="/"></a>
<section id="connection" ng-show="view.connection">
  <h2 ng-show="label">Label: {{ label }}</h2>
  <h3 data-ng-bind="statusMessage"></h3>
  <div ng-click="showSettings()" class="icon-button settings icon-mobile"></div>
  <div ng-click="showControlPanel()" class="icon-button control-panel icon-gauge"></div>
</section>
<section id="label" ng-show="view.label">
  <form id="devices-form" data-ng-submit="updateLabel()">
  <h2>Manage device</h2>
  <p>
    <label for="device_label">Device label:</label>
    <input type="text" ng-model="label" id="device_label" name="device_label" placeholder="P001">
  </p>
  <p>
    <button type="submit" class="btn">Ok</button>
  </p>
  </form>
</section>

