<a class="home icon-layout" href="/"></a>
<section id="connection" ng-show="view.connection">
  <h2>Label: {{ label }}</h2>
  <h3 data-ng-bind="statusMessage"></h3>
  <div ng-click="showSettings()" class="icon-button settings icon-mobile"></div>
  <div ng-click="showControlPanel()" class="icon-button control-panel icon-gauge"></div>
</section>
<section id="label" ng-show="view.label">
  <form id="devices-form" data-ng-submit="updateLabel()">
  <h2>Manage device</h2>
  <p>
    <label for="device_label">Device label:</label>
    <input type="text" ng-model="label" id="device_label" name="device_label" placeholder="P001">
  </p>
  <p>
    <button type="submit">Ok</button>
  </p>
  </form>
</section>
<div id="screensaver" class="{{view.screensaver ? 'visible' : 'not-visible'}} {{view.screensaverClass}}">
  <img src="assets/images/sc5logo_w.png" class="saver-logo">
  <img src="assets/images/screensaver_slogan.png" class="slogan slogan-text">
  <img src="assets/images/screensaver_tutorial_link.png?asdasd9991" class="slogan slogan-link" ng-click="showTutorial()">
  <div class="device-info"><h2>Label: {{ label }}</h2></div>
</div>
