<div data-ng-show="error">
  <p data-ng-bind="error"></p>
</div>
<div id="content" data-ng-hide="error">
    <div class="mode-button-wrapper">
      <div class="mode-button button-device" ng-click="onConnectDeviceClick()">
        <div class="icon icon-mobile"></div>
        <div class="text">Add/Reset device</div>
      </div>
      <div class="mode-button button-control-panel" ng-click="onControlPanelClick()">
        <div class="icon icon-rocket"></div>
        <div class="text">Test website</div>
      </div>
    </div>
    <div class="mode-button-wrapper">
      <div class="mode-button button-control-panel" ng-click="onControlPanelClick()">
        <div class="icon icon-graduation-cap"></div>
        <div class="text">Tutorial</div>
      </div>
      <div class="mode-button button-control-panel" ng-click="onControlPanelClick()">
        <div class="icon icon-info"></div>
        <div class="text">Info</div>
      </div>
    </div>
</div>