<div class="info">
    <a class="home icon-layout" href="/"></a>
    <h2>Install and register device</h2>
    <ol>
        <li>Connect the device to the SC5DeviceWall wireless network</li>
        <li>Register device at <a href="{{ url }}">{{ urlText }}</a></li>
    </ol>

    <h2>Use device wall</h2>
    <ol>
        <li>Connect your laptop (or any other device) to the SC5DeviceWall wireless network</li>
        <li>Go to <a href="{{ url }}">{{ urlText }}</a> to control the device wall devices</li>
    </ol>

    <h2>IF YOU NEED HELP</h2>
    <p>Contact SC5 personnel at your workplace OR send email to <a href="mailto:devicewall@sc5.io">devicewall@sc5.io</a></p>

    <h2>Made with <span class="icon icon-heart"></span> by SC5</h2>
    <ul>
        <li><span>Model:</span> A (120x200)</li>
        <li><span>Serial no:</span> 00000003</li>
        <li><span>DW Build date:</span> 2014-10-14</li>
        <li><span>DW Build by:</span> Mika Luoma-aho & Joonas Kallio</li>
        <li><span>Software by:</span> Hege, Lauri, Mika, Joonas, Sami, Iikka, Hanna and many others</li>
        <li><span>Thanks to:</span> Mika M, Lauri S</li>
        <li><span>Icons:</span> <a href="http://www.entypo.com" traget="_blank">Entypo.com</a>. Released for free under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" traget="_blank">licence CC BY-SA 3.0.</a></li>
    </ul>
</div>