<a class="home icon-layout" href="/"></a>
<div id="content" class="devices">
  <section id="devices">
    <form id="devices-form">
      <div class="section-wrapper">
        <h2>Test website</h2>

        <div id="server-status" class="ng-hide">{{serverStatus}}</div>

        <span class="input">
          <span id="tooltip-error" class="tooltip" data-ng-show="tooltipError.show">{{tooltipError.content}}</span>
          <angucomplete-alt
            id="url"
            type="url"
            name="url"
            focus-in="url.click()"
            input-changed="url.inputChanged"
            placeholder="http://www.sc5.io/"
            selected-object="url.selectedValue"
            initial-value="{{url.value}}"
            override-suggestions="true"
            auto-match="true"
            local-data="url.visitedUrls"
            search-fields="url"
            title-field="url"
            minlength="1"
            text-searching=""
            text-no-results=""
            inputclass="form-control form-control-small" />
        </span>


        <label class="checkbox-container">
          <input type="checkbox" name="openUrl" id="openUrl" ng-model="openUrl"> Open website on this device
        </label>

        <div class="buttons">
          <button
            type="button"
            data-ng-disabled="btnGo.disabled"
            data-ng-show="btnGo.show"
            class="large"
            data-ng-click="submitUrl()"
            id="go-button"
          >Go</button>
          <button type="button" data-ng-show="btnStopTesting.show" class="large ng-hide" data-ng-click="stopTesting()" style="display:none" id="stop-button">Stop</button>
          <button type="button" data-ng-show="btnStopAllTesting.show" class="large" data-ng-click="stopAllTesting()" id="stop-all-button">Stop all</button>
        </div>
      </div>

      <section data-ng-show="config.connectionSetup.enabled">
        <div class="section-wrapper accordion collapsed">
        <h2 toggle-accordion>Connection setup</h2>
        <div class="connection-setup accordion-content">
          <div data-ng-hide="true" class="checkbox">
            <label>
              <input type="checkbox" data-ng-model="openUrl" value="1" name="chk-warm-cache">
              Load url with proxy to warm-up the caches
            </label>
          </div>
          <fieldset data-ng-show="config.connectionSetup.wifiSimulate.enabled" class="connection">
                <span>Simulate</span>
                <label><input type="radio" name="connection-radio" value="3G">3G</label>
                <label><input type="radio" name="connection-radio" value="4G">4G</label>
                <label><input type="radio" name="connection-radio" value="Wifi" checked="checked">Wifi</label>
          </fieldset>
          <fieldset data-ng-show="config.connectionSetup.customUserAgent.enabled" class="user-agent">
            <h3>Default user agent</h3>
              <div class="row">
                <div class="col-2">
                  Select device type
                </div>
                <div class="col-8">
                  <select ng-model="userAgent.selected" ng-options="ua.name for ua in userAgents"></select>
                </div>
              </div>
              <div class="row row-2">
                <div class="col-2">
                  User-agent header
                </div>
                <div class="col-8">
                  <input type="text" data-ng-model="userAgent.selected.value">
                </div>
              </div>
          </fieldset>
        </div>
        </div>
      </section>

      <div class="section-wrapper accordion" id="available-devices">
        <h2 toggle-accordion>Available devices</h2>

        <div class="accordion-content">
          <div class="buttons">
            <button type="button" id="select-all" ng-click="selectAll(true)">Select all</button>
            <button type="button" id="select-none" ng-click="selectAll(false)">Select none</button>
          </div>

          <table spellcheck="false">
            <tr id="available-devices-table-heading">
              <th>Label</th>
              <th class="small-viewport-hidden">Model</th>
              <th class="small-viewport-hidden">Platform</th>
              <th class="small-viewport-hidden">Version</th>
              <th data-ng-hide="true" class="small-viewport-hidden">Battery</th>
              <th class="small-viewport-hidden" ng-hide="config.singleUser">User</th>
              <th class="small-viewport-hidden">Site</th>
              <th class="small-viewport-hidden">Proxy</th>
              <th>Last used</th>
              <th>Test</th>
              <th></th>
            </tr>
            <tbody id="devices-list" ng-if="deviceList.length > 0">
              <tr ng-repeat="device in deviceList" data-ng-class="{'is-running': device.userId}">
                <td>{{ device.label }}</td>
                <td class="small-viewport-hidden editable">
                  <input blurevent type="text" placeholder="model" data-ng-model="device.model" />
                </td>
                <td class="small-viewport-hidden editable">
                  <input blurevent type="text" placeholder="platform" data-ng-model="device.platform" />
                </td>
                <td class="small-viewport-hidden editable">
                  <input blurevent type="text" placeholder="version" data-ng-model="device.version" />
                </td>
                <td
                  data-ng-hide="true"
                  title="{{ device.batteryStatus | batteryTitle }}"
                  class="battery small-viewport-hidden"
                  data-ng-class="{plugged: device.isPlugged?true:false}"
                >
                  <span style="{{ device.batteryStatus | batteryStyle }}">&#128267;</span>
                </td>
                <td class="small-viewport-hidden" ng-hide="config.singleUser">{{ device.userName }}</td>
                <td class="small-viewport-hidden" data-ng-class="{ hidden : !device.userId }">
                  <span>{{ device.site }}</span>
                </td>
                <td class="small-viewport-hidden" data-ng-class="{ hidden : !device.userId }">
                  <span>{{ device.proxy }}</span>
                </td>
                <td data-ng-class="{'is-running': device.userId}"><time>{{ device.lastUsed | timeSince }}</time></td>
                <td>
                  <input
                    type="checkbox"
                    ng-model="device.selected"
                    ng-disabled="{{ device.userId ? false : false }}"
                  >
                </td>
                <td class="remove" data-ng-click="removeDevice(device)"><span class="icon-trash"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </section>
  <section data-ng-show="indicatorWaiting.show" >
      <h2>Waiting for connection...</h2>
      <p>Please wait for Browser Sync to initialize.</p>
  </section>
</div>

