$font-blue:   #82a9b1;
$icon-bg:     #82a9b1;
$app-bg:      #528e97;
$section-bg:  #82a9b1;
$sc5-blue:    #82a9b1;
$footer-blue: #31727d;

$disabled-light:    #807983;
$disabled-dark:     #807983;

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin box-shadow($values...) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  -ms-box-shadow: $values;
  box-shadow: $values;
}

@mixin linear-gradient($values...) {
  background-image: -webkit-linear-gradient($values);
  background-image: -moz-linear-gradient($values);
  background-image: -ms-linear-gradient($values);
  background-image: linear-gradient($values);
}

@mixin radial-gradient($values...) {
  background-image: -webkit-radial-gradient($values);
  background-image: -moz-radial-gradient($values);
  background-image: -ms-radial-gradient($values);
  /*background-image: radial-gradient($values);*/
}

@mixin icon-button() {
  background-color: $icon-bg;
  color: #fff;
  width: 100px;
  height: 100px;
  border: 0;
  font-family: 'entypo';
  font-size: 4.9em;
  padding: 0;
}

@mixin large-icon-button() {
  font-family: 'entypo';
  font-size: 200px;
  width: 200px;
  height: 200px;
  border: 0;
  padding: 0;
  margin: auto;
  margin-top: -35px;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder { // Firefox 19+
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder { // Firefox 18-
    color: $color;
  }
}

@font-face {
  font-family: 'entypo';
  src: url('/assets/fonts/entypo.eot');
  src: url('/assets/fonts/entypo.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/entypo.woff') format('woff'),
     url('/assets/fonts/entypo.ttf') format('truetype'),
     url('/assets/fonts/entypo.svg#entypo') format('svg');
}

@font-face {
  font-family: 'gthm_medium';
  src: url('/assets/fonts/gotham_rounded_medium-webfont.eot');
  src: url('/assets/fonts/gotham_rounded_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/gotham_rounded_medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/gotham_rounded_medium-webfont.woff') format('woff'),
  url('/assets/fonts/gotham_rounded_medium-webfont.ttf') format('truetype'),
  url('/assets/fonts/gotham_rounded_medium-webfont.svg#gotham_rnd_ssmmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gthm_book';
  src: url('/assets/fonts/gotham_rounded_book-webfont.eot');
  src: url('/assets/fonts/gotham_rounded_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/gotham_rounded_book-webfont.woff2') format('woff2'),
  url('/assets/fonts/gotham_rounded_book-webfont.woff') format('woff'),
  url('/assets/fonts/gotham_rounded_book-webfont.ttf') format('truetype'),
  url('/assets/fonts/gotham_rounded_book-webfont.svg#gotham_rnd_ssmbook') format('svg');
  font-weight: normal;
  font-style: normal;

}

html {
  height: 100%;
  outline: none;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #005678;
  color: #fff;
  font-family: 'gthm_book', arial, sans-serif;
  font-size: 62.5%;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: $sc5-blue;
}

.btn {
  font-family: 'gthm_book', arial, sans-serif;
  font-weight: lighter;
  color: #ffffff;
  border: none;
  outline: none;
  background: $app-bg;
  border-radius: 0;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: $footer-blue;
  }

  &:disabled {
    color: #cccccc;
    background: $disabled-light;
  }
}

#container {
  position: static;
}

