@font-face {
  font-family: 'entypo';
  src: url('../assets/fonts/entypo.eot?86590212');
  src: url('../assets/fonts/entypo.eot?86590212#iefix') format('embedded-opentype'),
       url('../assets/fonts/entypo.woff?86590212') format('woff'),
       url('../assets/fonts/entypo.ttf?86590212') format('truetype'),
       url('../assets/fonts/entypo.svg?86590212#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?86590212#entypo') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  font-size: 50%;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-note:before {
  content: '\e800';
} /* '' */
.icon-note-beamed:before {
  content: '\e801';
} /* '' */
.icon-music:before {
  content: '\e802';
} /* '' */
.icon-search:before {
  content: '\e803';
} /* '' */
.icon-mail:before {
  content: '\e804';
} /* '' */
.icon-flashlight:before {
  content: '\e805';
} /* '' */
.icon-heart:before {
  content: '\e806';
} /* '' */
.icon-heart-empty:before {
  content: '\e807';
} /* '' */
.icon-star:before {
  content: '\e808';
} /* '' */
.icon-star-empty:before {
  content: '\e809';
} /* '' */
.icon-user:before {
  content: '\e80a';
} /* '' */
.icon-user-add:before {
  content: '\e80b';
} /* '' */
.icon-users:before {
  content: '\e80c';
} /* '' */
.icon-video:before {
  content: '\e80d';
} /* '' */
.icon-picture:before {
  content: '\e80e';
} /* '' */
.icon-layout:before {
  content: '\e80f';
} /* '' */
.icon-camera:before {
  content: '\e810';
} /* '' */
.icon-menu:before {
  content: '\e811';
} /* '' */
.icon-check:before {
  content: '\e812';
} /* '' */
.icon-cancel:before {
  content: '\e813';
} /* '' */
.icon-tag:before {
  content: '\e814';
} /* '' */
.icon-eye:before {
  content: '\e815';
} /* '' */
.icon-lock-open:before {
  content: '\e816';
} /* '' */
.icon-lock:before {
  content: '\e817';
} /* '' */
.icon-attach:before {
  content: '\e818';
} /* '' */
.icon-link:before {
  content: '\e819';
} /* '' */
.icon-home:before {
  content: '\e81a';
} /* '' */
.icon-back:before {
  content: '\e81b';
} /* '' */
.icon-info-circled:before {
  content: '\e81c';
} /* '' */
.icon-info:before {
  content: '\e81d';
} /* '' */
.icon-help-circled:before {
  content: '\e81e';
} /* '' */
.icon-help:before {
  content: '\e81f';
} /* '' */
.icon-minus-circled:before {
  content: '\e820';
} /* '' */
.icon-minus-squared:before {
  content: '\e821';
} /* '' */
.icon-minus:before {
  content: '\e822';
} /* '' */
.icon-plus-squared:before {
  content: '\e823';
} /* '' */
.icon-plus-circled:before {
  content: '\e824';
} /* '' */
.icon-plus:before {
  content: '\e825';
} /* '' */
.icon-cancel-circled:before {
  content: '\e826';
} /* '' */
.icon-cancel-squared:before {
  content: '\e827';
} /* '' */
.icon-bookmark:before {
  content: '\e828';
} /* '' */
.icon-chat:before {
  content: '\e829';
} /* '' */
.icon-folder:before {
  content: '\e82a';
} /* '' */
.icon-archive:before {
  content: '\e82b';
} /* '' */
.icon-bell:before {
  content: '\e82c';
} /* '' */
.icon-bookmarks:before {
  content: '\e82d';
} /* '' */
.icon-attention:before {
  content: '\e82e';
} /* '' */
.icon-box:before {
  content: '\e82f';
} /* '' */
.icon-thumbs-up:before {
  content: '\e830';
} /* '' */
.icon-alert:before {
  content: '\e831';
} /* '' */
.icon-rss:before {
  content: '\e832';
} /* '' */
.icon-flag:before {
  content: '\e833';
} /* '' */
.icon-thumbs-down:before {
  content: '\e834';
} /* '' */
.icon-vcard:before {
  content: '\e835';
} /* '' */
.icon-phone:before {
  content: '\e836';
} /* '' */
.icon-cog:before {
  content: '\e837';
} /* '' */
.icon-address:before {
  content: '\e838';
} /* '' */
.icon-download:before {
  content: '\e839';
} /* '' */
.icon-location:before {
  content: '\e83a';
} /* '' */
.icon-tools:before {
  content: '\e83b';
} /* '' */
.icon-share:before {
  content: '\e83c';
} /* '' */
.icon-map:before {
  content: '\e83d';
} /* '' */
.icon-upload-cloud:before {
  content: '\e83e';
} /* '' */
.icon-upload:before {
  content: '\e83f';
} /* '' */
.icon-reply:before {
  content: '\e840';
} /* '' */
.icon-direction:before {
  content: '\e841';
} /* '' */
.icon-shareable:before {
  content: '\e842';
} /* '' */
.icon-reply-all:before {
  content: '\e843';
} /* '' */
.icon-basket:before {
  content: '\e844';
} /* '' */
.icon-bag:before {
  content: '\e845';
} /* '' */
.icon-cup:before {
  content: '\e846';
} /* '' */
.icon-compass:before {
  content: '\e847';
} /* '' */
.icon-quote:before {
  content: '\e848';
} /* '' */
.icon-forward:before {
  content: '\e849';
} /* '' */
.icon-trash:before {
  content: '\e84a';
} /* '' */
.icon-calendar:before {
  content: '\e84b';
} /* '' */
.icon-code:before {
  content: '\e84c';
} /* '' */
.icon-doc:before {
  content: '\e84d';
} /* '' */
.icon-login:before {
  content: '\e84e';
} /* '' */
.icon-logout:before {
  content: '\e84f';
} /* '' */
.icon-docs:before {
  content: '\e850';
} /* '' */
.icon-export:before {
  content: '\e851';
} /* '' */
.icon-pencil:before {
  content: '\e852';
} /* '' */
.icon-doc-landscape:before {
  content: '\e853';
} /* '' */
.icon-mic:before {
  content: '\e854';
} /* '' */
.icon-mute:before {
  content: '\e855';
} /* '' */
.icon-doc-text:before {
  content: '\e856';
} /* '' */
.icon-feather:before {
  content: '\e857';
} /* '' */
.icon-doc-text-inv:before {
  content: '\e858';
} /* '' */
.icon-sound:before {
  content: '\e859';
} /* '' */
.icon-print:before {
  content: '\e85a';
} /* '' */
.icon-retweet:before {
  content: '\e85b';
} /* '' */
.icon-newspaper:before {
  content: '\e85c';
} /* '' */
.icon-volume:before {
  content: '\e85d';
} /* '' */
.icon-clock:before {
  content: '\e85e';
} /* '' */
.icon-book-open:before {
  content: '\e85f';
} /* '' */
.icon-keyboard:before {
  content: '\e860';
} /* '' */
.icon-comment:before {
  content: '\e861';
} /* '' */
.icon-book:before {
  content: '\e862';
} /* '' */
.icon-hourglass:before {
  content: '\e863';
} /* '' */
.icon-lamp:before {
  content: '\e864';
} /* '' */
.icon-light-down:before {
  content: '\e865';
} /* '' */
.icon-light-up:before {
  content: '\e866';
} /* '' */
.icon-adjust:before {
  content: '\e867';
} /* '' */
.icon-block:before {
  content: '\e868';
} /* '' */
.icon-resize-full:before {
  content: '\e869';
} /* '' */
.icon-resize-small:before {
  content: '\e86a';
} /* '' */
.icon-popup:before {
  content: '\e86b';
} /* '' */
.icon-publish:before {
  content: '\e86c';
} /* '' */
.icon-window:before {
  content: '\e86d';
} /* '' */
.icon-arrow-combo:before {
  content: '\e86e';
} /* '' */
.icon-down-circled:before {
  content: '\e86f';
} /* '' */
.icon-left-circled:before {
  content: '\e870';
} /* '' */
.icon-right-circled:before {
  content: '\e871';
} /* '' */
.icon-up-circled:before {
  content: '\e872';
} /* '' */
.icon-down-open:before {
  content: '\e873';
} /* '' */
.icon-left-open:before {
  content: '\e874';
} /* '' */
.icon-right-open:before {
  content: '\e875';
} /* '' */
.icon-up-open:before {
  content: '\e876';
} /* '' */
.icon-down-open-mini:before {
  content: '\e877';
} /* '' */
.icon-progress-1:before {
  content: '\e878';
} /* '' */
.icon-left-open-mini:before {
  content: '\e879';
} /* '' */
.icon-right-open-mini:before {
  content: '\e87a';
} /* '' */
.icon-up-open-mini:before {
  content: '\e87b';
} /* '' */
.icon-down-open-big:before {
  content: '\e87c';
} /* '' */
.icon-left-open-big:before {
  content: '\e87d';
} /* '' */
.icon-right-open-big:before {
  content: '\e87e';
} /* '' */
.icon-up-open-big:before {
  content: '\e87f';
} /* '' */
.icon-down:before {
  content: '\e880';
} /* '' */
.icon-left:before {
  content: '\e881';
} /* '' */
.icon-right:before {
  content: '\e882';
} /* '' */
.icon-up:before {
  content: '\e883';
} /* '' */
.icon-down-dir:before {
  content: '\e884';
} /* '' */
.icon-left-dir:before {
  content: '\e885';
} /* '' */
.icon-right-dir:before {
  content: '\e886';
} /* '' */
.icon-up-dir:before {
  content: '\e887';
} /* '' */
.icon-down-bold:before {
  content: '\e888';
} /* '' */
.icon-left-bold:before {
  content: '\e889';
} /* '' */
.icon-right-bold:before {
  content: '\e88a';
} /* '' */
.icon-up-bold:before {
  content: '\e88b';
} /* '' */
.icon-down-thin:before {
  content: '\e88c';
} /* '' */
.icon-left-thin:before {
  content: '\e88d';
} /* '' */
.icon-right-thin:before {
  content: '\e88e';
} /* '' */
.icon-up-thin:before {
  content: '\e88f';
} /* '' */
.icon-ccw:before {
  content: '\e890';
} /* '' */
.icon-cw:before {
  content: '\e891';
} /* '' */
.icon-arrows-ccw:before {
  content: '\e892';
} /* '' */
.icon-level-down:before {
  content: '\e893';
} /* '' */
.icon-level-up:before {
  content: '\e894';
} /* '' */
.icon-shuffle:before {
  content: '\e895';
} /* '' */
.icon-loop:before {
  content: '\e896';
} /* '' */
.icon-switch:before {
  content: '\e897';
} /* '' */
.icon-play:before {
  content: '\e898';
} /* '' */
.icon-stop:before {
  content: '\e899';
} /* '' */
.icon-pause:before {
  content: '\e89a';
} /* '' */
.icon-record:before {
  content: '\e89b';
} /* '' */
.icon-to-end:before {
  content: '\e89c';
} /* '' */
.icon-to-start:before {
  content: '\e89d';
} /* '' */
.icon-fast-forward:before {
  content: '\e89e';
} /* '' */
.icon-fast-backward:before {
  content: '\e89f';
} /* '' */
.icon-progress-2:before {
  content: '\e8a0';
} /* '' */
.icon-progress-3:before {
  content: '\e8a1';
} /* '' */
.icon-target:before {
  content: '\e8a2';
} /* '' */
.icon-palette:before {
  content: '\e8a3';
} /* '' */
.icon-list:before {
  content: '\e8a4';
} /* '' */
.icon-list-add:before {
  content: '\e8a5';
} /* '' */
.icon-signal:before {
  content: '\e8a6';
} /* '' */
.icon-trophy:before {
  content: '\e8a7';
} /* '' */
.icon-battery:before {
  content: '\e8a8';
} /* '' */
.icon-back-in-time:before {
  content: '\e8a9';
} /* '' */
.icon-monitor:before {
  content: '\e8aa';
} /* '' */
.icon-mobile:before {
  content: '\e8ab';
} /* '' */
.icon-network:before {
  content: '\e8ac';
} /* '' */
.icon-cd:before {
  content: '\e8ad';
} /* '' */
.icon-inbox:before {
  content: '\e8ae';
} /* '' */
.icon-install:before {
  content: '\e8af';
} /* '' */
.icon-globe:before {
  content: '\e8b0';
} /* '' */
.icon-cloud:before {
  content: '\e8b1';
} /* '' */
.icon-cloud-thunder:before {
  content: '\e8b2';
} /* '' */
.icon-flash:before {
  content: '\e8b3';
} /* '' */
.icon-moon:before {
  content: '\e8b4';
} /* '' */
.icon-flight:before {
  content: '\e8b5';
} /* '' */
.icon-paper-plane:before {
  content: '\e8b6';
} /* '' */
.icon-leaf:before {
  content: '\e8b7';
} /* '' */
.icon-lifebuoy:before {
  content: '\e8b8';
} /* '' */
.icon-mouse:before {
  content: '\e8b9';
} /* '' */
.icon-briefcase:before {
  content: '\e8ba';
} /* '' */
.icon-suitcase:before {
  content: '\e8bb';
} /* '' */
.icon-dot:before {
  content: '\e8bc';
} /* '' */
.icon-dot-2:before {
  content: '\e8bd';
} /* '' */
.icon-dot-3:before {
  content: '\e8be';
} /* '' */
.icon-brush:before {
  content: '\e8bf';
} /* '' */
.icon-magnet:before {
  content: '\e8c0';
} /* '' */
.icon-infinity:before {
  content: '\e8c1';
} /* '' */
.icon-erase:before {
  content: '\e8c2';
} /* '' */
.icon-chart-pie:before {
  content: '\e8c3';
} /* '' */
.icon-chart-line:before {
  content: '\e8c4';
} /* '' */
.icon-chart-bar:before {
  content: '\e8c5';
} /* '' */
.icon-chart-area:before {
  content: '\e8c6';
} /* '' */
.icon-tape:before {
  content: '\e8c7';
} /* '' */
.icon-graduation-cap:before {
  content: '\e8c8';
} /* '' */
.icon-language:before {
  content: '\e8c9';
} /* '' */
.icon-ticket:before {
  content: '\e8ca';
} /* '' */
.icon-water:before {
  content: '\e8cb';
} /* '' */
.icon-droplet:before {
  content: '\e8cc';
} /* '' */
.icon-air:before {
  content: '\e8cd';
} /* '' */
.icon-credit-card:before {
  content: '\e8ce';
} /* '' */
.icon-floppy:before {
  content: '\e8cf';
} /* '' */
.icon-clipboard:before {
  content: '\e8d0';
} /* '' */
.icon-megaphone:before {
  content: '\e8d1';
} /* '' */
.icon-database:before {
  content: '\e8d2';
} /* '' */
.icon-drive:before {
  content: '\e8d3';
} /* '' */
.icon-bucket:before {
  content: '\e8d4';
} /* '' */
.icon-thermometer:before {
  content: '\e8d5';
} /* '' */
.icon-key:before {
  content: '\e8d6';
} /* '' */
.icon-flow-cascade:before {
  content: '\e8d7';
} /* '' */
.icon-flow-branch:before {
  content: '\e8d8';
} /* '' */
.icon-flow-tree:before {
  content: '\e8d9';
} /* '' */
.icon-flow-line:before {
  content: '\e8da';
} /* '' */
.icon-flow-parallel:before {
  content: '\e8db';
} /* '' */
.icon-rocket:before {
  content: '\e8dc';
} /* '' */
.icon-gauge:before {
  content: '\e8dd';
} /* '' */
.icon-traffic-cone:before {
  content: '\e8de';
} /* '' */
.icon-cc:before {
  content: '\e8df';
} /* '' */
.icon-cc-by:before {
  content: '\e8e0';
} /* '' */
.icon-cc-nc:before {
  content: '\e8e1';
} /* '' */
.icon-cc-nc-eu:before {
  content: '\e8e2';
} /* '' */
.icon-cc-nc-jp:before {
  content: '\e8e3';
} /* '' */
.icon-cc-sa:before {
  content: '\e8e4';
} /* '' */
.icon-cc-nd:before {
  content: '\e8e5';
} /* '' */
.icon-cc-pd:before {
  content: '\e8e6';
} /* '' */
.icon-cc-zero:before {
  content: '\e8e7';
} /* '' */
.icon-cc-share:before {
  content: '\e8e8';
} /* '' */
.icon-cc-remix:before {
  content: '\e8e9';
} /* '' */
.icon-github:before {
  content: '\e8ea';
} /* '' */
.icon-github-circled:before {
  content: '\e8eb';
} /* '' */
.icon-flickr:before {
  content: '\e8ec';
} /* '' */
.icon-flickr-circled:before {
  content: '\e8ed';
} /* '' */
.icon-vimeo:before {
  content: '\e8ee';
} /* '' */
.icon-vimeo-circled:before {
  content: '\e8ef';
} /* '' */
.icon-twitter:before {
  content: '\e8f0';
} /* '' */
.icon-twitter-circled:before {
  content: '\e8f1';
} /* '' */
.icon-facebook:before {
  content: '\e8f2';
} /* '' */
.icon-facebook-circled:before {
  content: '\e8f3';
} /* '' */
.icon-facebook-squared:before {
  content: '\e8f4';
} /* '' */
.icon-gplus:before {
  content: '\e8f5';
} /* '' */
.icon-gplus-circled:before {
  content: '\e8f6';
} /* '' */
.icon-pinterest:before {
  content: '\e8f7';
} /* '' */
.icon-pinterest-circled:before {
  content: '\e8f8';
} /* '' */
.icon-tumblr:before {
  content: '\e8f9';
} /* '' */
.icon-tumblr-circled:before {
  content: '\e8fa';
} /* '' */
.icon-linkedin:before {
  content: '\e8fb';
} /* '' */
.icon-linkedin-circled:before {
  content: '\e8fc';
} /* '' */
.icon-dribbble:before {
  content: '\e8fd';
} /* '' */
.icon-dribbble-circled:before {
  content: '\e8fe';
} /* '' */
.icon-stumbleupon:before {
  content: '\e8ff';
} /* '' */
.icon-stumbleupon-circled:before {
  content: '\e900';
} /* '' */
.icon-lastfm:before {
  content: '\e901';
} /* '' */
.icon-lastfm-circled:before {
  content: '\e902';
} /* '' */
.icon-rdio:before {
  content: '\e903';
} /* '' */
.icon-rdio-circled:before {
  content: '\e904';
} /* '' */
.icon-spotify:before {
  content: '\e905';
} /* '' */
.icon-spotify-circled:before {
  content: '\e906';
} /* '' */
.icon-qq:before {
  content: '\e907';
} /* '' */
.icon-instagram:before {
  content: '\e908';
} /* '' */
.icon-dropbox:before {
  content: '\e909';
} /* '' */
.icon-evernote:before {
  content: '\e90a';
} /* '' */
.icon-flattr:before {
  content: '\e90b';
} /* '' */
.icon-skype:before {
  content: '\e90c';
} /* '' */
.icon-skype-circled:before {
  content: '\e90d';
} /* '' */
.icon-renren:before {
  content: '\e90e';
} /* '' */
.icon-sina-weibo:before {
  content: '\e90f';
} /* '' */
.icon-paypal:before {
  content: '\e910';
} /* '' */
.icon-picasa:before {
  content: '\e911';
} /* '' */
.icon-soundcloud:before {
  content: '\e912';
} /* '' */
.icon-mixi:before {
  content: '\e913';
} /* '' */
.icon-behance:before {
  content: '\e914';
} /* '' */
.icon-google-circles:before {
  content: '\e915';
} /* '' */
.icon-vkontakte:before {
  content: '\e916';
} /* '' */
.icon-smashing:before {
  content: '\e917';
} /* '' */
.icon-sweden:before {
  content: '\e918';
} /* '' */
.icon-db-shape:before {
  content: '\e919';
} /* '' */
.icon-logo-db:before {
  content: '\e91a';
} /* '' */
.icon-progress-0:before {
  content: '\e91b';
} /* '' */
