@media only screen and (max-width : 775px) {
  .small-viewport-hidden {
    display: none;
  }
}

@media only screen and (max-width : 600px), screen and (max-height : 700px) {
  h1 {
    font-size: 2.8rem;
  }

  #devices {
    input[type=text] {
      width: 90%;
    }
  }

  #content {
    @include translateY(0);
    margin-top: 30px;
    position: relative;
    top: initial;
  }

  .mode-button {
    width: 100px;
    height: auto;
    padding: 20px;

    .text {
      font-size: 20px;
      width: 100px;
    }

    .icon,
    .icon {
      width: 100px;
      height: 100px;
      font-size: 100px;
    }
  }

  .home {
    left: 0;
  }

  .tutorial-button {
    width: 200px;
    height: 200px;
    font-size: 20px;

    .text {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width : 320px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  label {
    display: block;
    text-align: left;
    padding: 5px 4%;
  }

  input[type=text] {
    display: block;
    width: 90%;
    margin: auto;
  }

  input[type=url] {
    width: 100%;
    box-sizing: border-box;
  }

  .logo {
    width: 75px;
  }

  #available-devices {
    button {
      font-size: 1rem;
    }
  }

  #content .connection-setup {
    margin: 0;

    fieldset {
      padding: 0;
    }

    .row {
      float: none;

      &.row-2 {
        display: none;
      }

      .col-2,
      .col-8 {
        float: none;
        width: 100%;
        display: block;
      }
    }

  }
}

@media only screen and (max-height: 350px) {
  .logo, #screensaver .saver-logo {
    width: auto;
    height: 80px;
  }

  #screensaver .slogan {
    top: initial;
    transform: none;
    bottom: 0;
    @include translateY(0px);
  }
}
