.tutorial-button {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  vertical-align: top;
  cursor: pointer;
  background-color: $icon-bg;
  margin: 5px;
  color: inherit;

  font-size: 30px;
  text-transform: uppercase;

  .text {
    @include translateY(-50%);
    padding: 10px;
    position: absolute;
    top: 50%;
  }
}

.tutorial {
  font-size: 2em;
  .tutorial-nav {
    .circle {
      border-radius: 50%;
      padding: 1px 12px;
      width: 20px;
      height: 20px;
      background: #2c3f8b;
      border: 3px solid black;
    }
    a {
      display: inline;
      margin: 5px 10px;
    }
    a.active {
      background: #5c97e6;
    }
  }
}

@media only screen and (max-width : 600px), screen and (max-height : 700px) {
  .mode-button {
    width: 100px;
    height: auto;
    padding: 20px;
    font-size: 20px;
  }
}
