$tutorial-circle:   #ebe5d9;

.tutorial-button {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  vertical-align: top;
  cursor: pointer;
  background-color: $icon-bg;
  margin: 5px;
  color: inherit;

  font-size: 30px;
  text-transform: uppercase;

  .text {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    padding: 0 30px;
  }
}

.tutorial {
  font-size: 2em;

  img, .tutorial-text {
    width: 70%;
    max-width: 670px;
    margin: auto;
    min-height: 110px;
  }

  img {
    border: 3px solid white;
    margin-top: 20px;
  }

  .tutorial-text {
    padding-bottom: 50px;
    p {
      margin: 6px;

      span {
        color: $sc5-blue;

      }
    }

  }

  .tutorial-nav {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;

    .circle {
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: $tutorial-circle;
    }
    a {
      display: inline;
      margin: 5px 10px;
    }
    a.active {
      background: $footer-blue;
    }
  }
}