@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	transition: $value;
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}

@mixin linear-gradient($values...) {
  	background-image: -webkit-linear-gradient($values);
  	background-image: -moz-linear-gradient($values);
  	background-image: -ms-linear-gradient($values);
  	background-image: linear-gradient($values);
}

@mixin radial-gradient($values...) {
  	background-image: -webkit-radial-gradient($values);
  	background-image: -moz-radial-gradient($values);
  	background-image: -ms-radial-gradient($values);
  	/*background-image: radial-gradient($values);*/
}

html {
	height: 100%;
}

body {

	min-height: 100%;
	padding: 0;
	margin: 0;
	background-color: #005678;
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 62.5%;
	@include radial-gradient(#00a4e4 25%, #005678 100%);
	background-attachment: fixed;

	#container {

		#content {

			padding: 20px 0;

			text-align: center;
			font-size: 1rem;

			#buttons {
				padding: 20px 0;
			}

			#devices {

				.buttons {
					margin: 30px 0;
				}

				input[type=text] {
					text-align: center;
				}

			}

		}

		footer {
			height: 20px;
			line-height: 20px;
			text-align: center;
			font-size: .8rem;
		}

		&.centerized {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;		
		}

		&.centerized #content {
			position: absolute;
			left: 0;
			top: 50%;
			margin: -120px 0 0 0;
			height: 200px;
			width: 100%;
			@include transition(top .3s ease-out);
			&.devices {
				top: 120px;
			}
		}

		&.centerized footer {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
		}	

	}

}


#{headings(all)} {
	
}

h1 {

	text-transform: uppercase;
	background-image: -webkit-linear-gradient(#fff 20%, #ddd 80%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-size: 3.2rem;
	font-weight: bold;
	position: relative;
	margin: 0;
	padding: 0;

	&:after {
		position: absolute;
		left: 0;
		top: 0;
		content: 'DeviceWall';
		text-shadow: 0 0 5px rgba(0, 0, 0, .25);
		z-index: -1;
		width: 100%;
		height: 100%;
	}

}

h2 {
	font-size: 1.8rem;
	font-weight: normal;
}

label {
	display: inline-block;
	vertical-align: middle;
}

button {

	@include box-sizing(content-box);
	

	overflow: hidden;
	white-space: nowrap;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	border: 1px solid #777;
	border-radius: 5px;
	background-color: #eee;
	color: #333;
	padding: 0 20px;
	height: 38px;
	line-height: 38px;
	font-size: 1.2rem;
	vertical-align: middle;

	@include linear-gradient(#fff, #ddd);

	text-shadow: 0 1px #fff;

	color: #333;

	&#go {
		height: 48px;
		line-height: 48px;
		font-size: 1.6rem;
	}

}

table {

	margin: 0 auto;
	width: 50%;
	border-collapse: collapse;

	th,
	td {
		vertical-align: top;
		text-align: left;
		border: 1px solid rgba(0, 0, 0, .1);
		padding: 5px 15px;
		background-color: rgba(0, 0, 0, .05);
	}

}

input[type=text] {
	vertical-align: middle;
	font-size: 1rem;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #777;
	padding: 0 5px;
	line-height: 38px;
}

input[type=checkbox],
input[type=checkbox]:checked {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 2px;
	padding: 0;
	vertical-align: middle;
}

input[type=checkbox]:after {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #777;
	content: '';
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 16px;
	font-size: .8rem;
}

input[type=checkbox]:checked:after {
	content: '\2713';
}
