@import "compass/css3";

$app-bg: 		#0072a3;
$section-bg: 	#0084bd;
$icon-bg: 		#007FB5;

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	transition: $value;
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}

@mixin box-shadow($values...) {
	-webkit-box-shadow: $values;
	-moz-box-shadow: $values;
	-ms-box-shadow: $values;
	box-shadow: $values;
}

@mixin linear-gradient($values...) {
  	background-image: -webkit-linear-gradient($values);
  	background-image: -moz-linear-gradient($values);
  	background-image: -ms-linear-gradient($values);
  	background-image: linear-gradient($values);
}

@mixin radial-gradient($values...) {
  	background-image: -webkit-radial-gradient($values);
  	background-image: -moz-radial-gradient($values);
  	background-image: -ms-radial-gradient($values);
  	/*background-image: radial-gradient($values);*/
}

@mixin large-icon-button() {
	font-family: 'Entypo';
	font-size: 200px;
	width: 200px;
	height: 200px;
	border: none;
	padding: 0;
	margin: auto;
}

@font-face {
  font-family: 'Entypo';
  src: url('/assets/fonts/entypo.eot');
  src: url('/assets/fonts/entypo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/entypo.woff') format('woff'),
       url('/assets/fonts/entypo.ttf') format('truetype'),
       url('/assets/fonts/entypo.svg#Entypo') format('svg');
}

html {
	height: 100%;
}

body {

	min-height: 100%;
	padding: 0;
	margin: 0;
	background-color: $app-bg;
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 62.5%;
	background-attachment: fixed;
	text-align: center;
}

.logo {
	margin-bottom: 20px;
	width: 150px;
}

#content {

	padding: 0 0 20px 0;
	text-align: center;
	font-size: 1rem;
	@include transition(top .3s ease-out);

	&.centerized {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: 20px;
		@include translateY(-50%);
		width: 100%;
		&.devices {
			top: 120px;
		}
	}

	h2 {
		margin-bottom: 20px;
		margin-top: 0;
	}

	.accordion {
		position: relative;
		max-height: 1200px;
		@include transition(all .5s ease-out);

		h2 {
			cursor: pointer;

			&:before {
				content: '\2796';
				position: absolute;
				left: 10px;
				top: 0;
				font-family: 'Entypo';
				font-size: 2em;
			}
		}

		.accordion-content {
		}

		&.collapsed {
			overflow: hidden;
			max-height: 40px;

			h2:before {
				content: '\2795';
			}
		}
	}


	.section-wrapper {
		background-color: $section-bg;
		margin: 20px;
		border-radius: 5px;
		padding: 10px;
		overflow: auto;
	}

	.buttons {
		padding: 20px 0;
	}

	#devices {

		.buttons {
			margin: 0 0 20px 0;
		}

		input[type=text] {
			text-align: center;
		}

	}

	.connection-setup {
		text-align: left;
		margin: 0 20px;

		fieldset.connection {
			border: none;
			padding: 0;
			margin: 15px 0;
		}
	}

}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: .8rem;
	margin-top: 20px;
	background-color: #005678;
}

#{headings(all)} {

}

h1 {

	text-transform: uppercase;
	font-size: 3.2rem;
	font-weight: bold;
	position: relative;
	margin: 0;
	padding: 0;

}

h2 {
	font-size: 1.8rem;
	font-weight: normal;
}

table {
	margin: auto;
	margin-bottom: 30px;
	width: 100%;
	max-width: 1400px;
	border-collapse: collapse;
	font-size: .9rem;
	border: 1px solid rgba(0, 0, 0, .1);

	th,
	td {

		white-space: nowrap;
		vertical-align: top;
		text-align: left;
		border: 1px solid rgba(0, 0, 0, .1);
		padding: 5px 15px;
		background-color: rgba(0, 0, 0, .05);
		font-weight: normal;

		&[contenteditable] {

			&:not(:focus) {
				cursor: pointer;
			}

			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}

			&:focus {
				outline: none;
			}

		}

		&.emphasize {

			cursor: pointer;
			font-weight: bold;

			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}

		}

		&:nth-child(8),
		&:last-child {
			text-align: center;
		}

		&.battery,
		&.remove {

			text-align: center;
			vertical-align: middle;

			span {
				font-family: 'Entypo';
				line-height: 1rem;
				vertical-align: middle;
				padding: 0 5px;
				color: #fff;
			}

		}

		&.battery {

			span {
				font-size: 1.6rem;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				cursor: default;
			}

			&.plugged span {
				color: #0f0;
			}

		}

		&.remove {

			span {
				font-size: 2.5rem;
				cursor: pointer;
				background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .3) 80%), -webkit-linear-gradient(#fff 0%, #fff 100%);
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			}

		}

	}

}

label {
	display: inline-block;
	vertical-align: middle;
}

button {

	font-family: arial, sans-serif;

	@include box-sizing(content-box);

	@include linear-gradient(#fff, #ddd);

	&:active {
		@include linear-gradient(#ddd, #fff);
	}

	&:disabled {
	  @include linear-gradient(#ccc, #aaa);
	  text-shadow: none;
	  color: #666;
	}

	overflow: hidden;
	white-space: nowrap;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	border: 1px solid #777;
	border-radius: 5px;
	background-color: #eee;
	color: #333;
	padding: 0 20px;
	height: 38px;
	line-height: 38px;
	font-size: 1.2rem;
	vertical-align: middle;

	text-shadow: 0 1px #fff;
	color: #333;
	cursor: pointer;

	&.large {
		height: 48px;
		line-height: 48px;
		font-size: 1.6rem;
	}
}

.input {

	display: inline-block;
	vertical-align: middle;
	position: relative;

	.tooltip {

		display: block;
		position: absolute;
		padding: 5px 10px;
		top: -35px;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: #fff;
		color: #333;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		white-space: nowrap;
		font-size: .8rem;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin: 0 -6px -6px -6px;
			border-width: 6px 6px 0 6px;
			border-style: solid;
			border-color: #fff transparent transparent transparent;
			width: 0;
			height: 0;
		}

	}

}

input {
	outline: none;
}

input[type=text] {
	vertical-align: middle;
	font-size: 1rem;
	border-radius: 5px;
	padding: 10px;
	line-height: 1rem;
}

input[type=checkbox] {
	font-family: 'Entypo';
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 2px 0 0;
	padding: 0;
	vertical-align: middle;
	cursor: pointer;

	&:after {
		display: block;
		width: 16px;
		height: 16px;
		content: '';
		border-radius: 3px;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		line-height: 16px;
		font-size: 1.5rem;
	}

	&:disabled:after {
		background-color: #aaa;
	}

	&:checked:after {
		content: '\2713';
		// content: '\25CF';
	}
}

input[type=radio] {
	font-family: 'Entypo';
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 15px;
	padding: 0;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border-radius: 10px;

	&:after {
		display: block;
		width: 20px;
		height: 20px;
		content: '';
		text-align: center;
		color: #006db0;
		font-size: 30px;
		margin-top: -6px;
		line-height: 30px;
	}

	&:disabled:after {
		background-color: #aaa;
	}

	&:checked:after {
		content: '\25CF';
	}
}

input[type=text],
input[type=checkbox]:after,
[contenteditable]:focus,
[contenteditable]:focus:hover {
	color: #333;
	border: 1px solid #777;
	background-color: #fff;
	@include box-shadow(inset 0 10px 10px -5px rgba(0, 0, 0, .25));
}

input[type=text].error {
  border: 1px solid #f00;
}

.controls {
	margin-top: 20px;
	text-align: center;
}

.mode-button {
	display: inline-block;
	width: 300px;
	height: 300px;
	vertical-align: top;
	cursor: pointer;
	background-color: $icon-bg;
	margin-right: 5px;

	.text {
		font-size: 30px;
		text-transform: uppercase;
	}

	.icon {
		@include large-icon-button();
	}
}

.home {
	font-family: 'Entypo';
	position: absolute;
	left: 0;
	top: 0;
	text-decoration: none;
	color: white;
	font-size: 4rem;
	margin: 0 5px;
}

@media only screen and (max-width : 775px) {
	.small-viewport-hidden {
		display: none;
	}
}

@media only screen and (max-width : 600px), screen and (max-height : 700px) {
	h1 {
		font-size: 2.8rem;
	}

	#devices {
		input {
			width: 90%;
		}
	}

	#content.centerized {
		margin-top: 30px;
		position: relative;
		top: initial;
		@include translateY(0);
	}

	.mode-button.button-control-panel, .mode-button.button-device {
		width: 100px;
		height: auto;
		padding: 20px;

		.text {
			font-size: 20px;
		}

		.icon, .icon {
			width: 100px;
			height: 100px;
			font-size: 100px;
		}
	}
}



